.alert{
    position: absolute;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 1.25rem;
        text-align: center;
    }

    p{
        margin: 1rem;
    }

    button{
        padding: 0.5rem 1rem;        
        cursor: url("/arrow.png"), default;
    }    
}