.container{
    max-width: 1100px;
    margin: 1rem auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    img{
        height: 10rem;
    }

    .data{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 1rem;
        align-items: flex-end;

        h1{
            text-shadow: 2px 0 0 #396bba, -2px 0 0 #396bba, 0 2px 0 #396bba, 0 -2px 0 #396bba, 1px 1px #396bba, -1px -1px 0 #396bba, 1px -1px 0 #396bba, -1px 1px 0 #396bba;
            filter: drop-shadow(0.125rem 0.125rem 0.125rem #00000088);
            color: #ffe031;
            font-size: 2.5rem;
        }

        .statistics{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            min-width: 200px;
            width: 100%;
            
            > div{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;

                span{
                    display: block;
                    color: #ffe031;
                    font-weight: bold;
                    letter-spacing: 0.125rem;
                    filter: drop-shadow(0.125rem 0.125rem 0.125rem #00000055);
                    text-shadow: 1px 0 0 #396bba99, -1px 0 0 #396bba99, 0 1px 0 #396bba99, 0 -1px 0 #396bba99, 1px 1px #396bba99, -1px -1px 0 #396bba99, 1px -1px 0 #396bba99, -1px 1px 0 #396bba99;

                    & + span {
                        margin-left: 1rem;
                    }
                    
                    strong {
                        font-size: 1.125rem;
                        color: #fff;
                        text-shadow: 2px 0 0 #00000022, -2px 0 0 #00000022, 0 2px 0 #00000022, 0 -2px 0 #00000022, 1px 1px #00000022, -1px -1px 0 #00000022, 1px -1px 0 #00000022, -1px 1px 0 #00000022;
                    }
                }
            } 
        }
    }
}

@media(max-width: 720px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        
        img{
            display: none;
        }

        .data{
            display: flex;
            align-items: center;
            justify-content: center;

            .statistics{         
                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    span{
                        justify-self: space-between;
                        display: inline-block;
                    }
                }
            }
        }
    }
}