 .container{
     min-height: 100vh;
     width: 100%;
     
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        img{
            margin-bottom: 3rem;
        }

        button{
            height: 4rem;
            width: 300px;

            border: none;
            border-radius: 0.5rem;
            filter: drop-shadow(1px 1px 1px #00000077);

            font-weight: 900;
            font-size: 1.25rem;
            cursor: pointer;

            color: #fff;
            background-color: #396bba;

        }

    }

    section{
        position: absolute;
        text-align: center;

        padding: 0.5rem 1rem;      
        bottom: 2rem;

        border-radius: 0.25rem;
        background-color: #f2f2f255;
        width: 200px;

        span{
            display: block;
            font-size: 0.85rem;
            color: #00000099;
            font-weight: 600;
        }

        p{
            font-weight: 600;
            font-size: 1.25rem;
            color: #0a66c2;
            margin-bottom: 0.25rem;
        }

        .socialMedia{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0.25rem 0;

            a{
                font-size: 1.5rem;
                
                &:link, &:visited, &:active{
                    color: #e34133;
                }
            }

            a:nth-of-type(1){
                color: #0a66c2;
            }

            a:nth-of-type(2){
                color: #24292e;
            }

            a:nth-of-type(3){
                color: #e34133;
            }

            a:nth-of-type(4){
                color: #41d251;
            }
        }
    }
}