.container{
    position: absolute;
    height:100%;
    width:100%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
    background-color: #00000055;

    .content{
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: #f7f7f7;
        padding: 2.5rem;
        border-radius: 0.25rem;

        min-height: 400px;
        min-width: 600px;

        button{
            position: absolute;
            right: -1rem;
            top: -1rem;
    
            border: none;
            background: transparent;
    
            font-size: 2.5rem;
            cursor: pointer;

            
            &:hover{
                svg{
                    filter: brightness(0.9);
                }
            }
            
            svg{
                color: #396bba;
                background-color: #f7f7f7;

                border-radius: 50%;

                transition: filter 0.3s;
            }
        }
    }
}

.hidden{
    display: none;
}